.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;

    & p, h1 {
        color: white;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.modalContent {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #1f4576;
    z-index: 2;
    padding: 50px;
    gap: 20px;
}

.wrapperHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeIcon {
    width: 30px;
    height: 30px;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    cursor: pointer;
    position: absolute;
    top: -11px;
    right: -12px;
}


.wrapperActions {
    width: 100%;
    display: flex;
    gap: 40px;
}
