.wrapperCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
}

.wrapperImage {
    width: 100%;
    height: 150px;
    border: 1px solid gray;
    display: flex;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapperInfo {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.wrapperActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.wrapperStar {
    color: gray;
    cursor: pointer;

    &:hover {
        color: gold;
    }
}