.app {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wrapperActions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #1f4576;
}
.actions {
    display: flex;
    align-items: center;
}